.advantages {
    margin          : 0 auto;
    display         : flex;
    flex-direction  : column;
    background-color: @bg-white;
    padding-bottom: 281px;
}

.advantages__list::after {
    position           : absolute;
    content            : "";
    left               : 80px;
    top                : 430px;
    width              : 157px;
    height             : 280px;
    background-image   : url("../img/iphone-screen-mobile@1x.png");
    background-repeat  : no-repeat;
    background-position: 0 0;
}

.advantages__bgrtext {
    background-color: @bg-white;
    width           : 320px;
    margin          : 0 auto;
}

.advantages__text {
    color         : @blue-dark;
    font-size     : 24px;
    font-weight   : 300;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    text-align    : center;
    margin     : 0;
    padding-top: 40px;
}

.advantages__subtext {
    color         : @blue-dark;
    font-size     : 24px;
    font-weight   : 300;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    text-align    : center;
    margin        : 0;
    padding-top   : 30px;
}

.advantages__list {
    position  : relative;
    width     : 320px;
    margin    : 0 auto;
    padding   : 0px;
    margin-top: 30px;
    text-align: center;


}

.advantages__item {
    width        : 320px;
    margin       : 0;
    list-style   : none;
    margin-bottom: 30px;
}

.advantages__title {
    font-size    : 20px;
    font-weight  : bold;
    margin-bottom: 0px;
}

.advantages__description {
    font-size     : 14px;
    font-weight   : normal;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.71;
    letter-spacing: normal;
    text-align    : center;
    margin-top    : 5px;
    padding-left  : 33px;
    padding-right : 33px;

}

.advantages__wrapperlist {
    position        : relative;
    background-color: @grey-light;
    padding-top     : 80px;
    margin          : 0 auto;
}

.advantages__wrapperlist::before {
    content: "";
    position           : absolute;
    top                : 0;
    width              : 100%;
    height             : 100%;
    background         : @bg-grey-lite url(../img/bg-triangle-white.svg) no-repeat center top;
    background-size    : 101% auto;
    background-position: 50% 0;
}

@media (min-width: @tablet-width) {
    .advantages__wrapperlist {
        padding-bottom: 5px;
    }

    .advantages {

        margin: 0 auto;
        padding-bottom: 0px;
    }

    .advantages__list::after {
        position           : absolute;
        content            : "";
        left               : -150px;
        top                : -60px;
        width              : 268px;
        height             : 480px;
        background-image   : url("../img/iphone-screen-3-tablet@1x.png");
        background-repeat  : no-repeat;
        background-position: 0 0;
    }

    .advantages__bgrtext {
        background-color: @bg-white;
        width           : 660px;
        margin          : 0 auto;
        margin-bottom   : 20px;
    }

    .advantages__text {
        color         : @blue-dark;
        font-size     : 40px;
        font-weight   : 300;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : normal;
        letter-spacing: normal;
        text-align    : center;
        margin        : 0;
        padding-top   : 50px;
        padding-bottom: 0px;

    }

    .advantages__subtext {
        color         : @blue-dark;
        font-size     : 40px;
        font-weight   : 300;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : normal;
        letter-spacing: normal;
        text-align    : center;
        margin        : 0;
        padding-top   : 0px;
        padding-left  : 60px;
        padding-right : 60px;
    }

    .advantages__list {
        margin-top: 0px;
    }

    .advantages__item {
        width      : 320px;
        margin-left: 110px;

    }

    .advantages__title {

        font-size  : 20px;
        font-weight: bold;

    }


    .advantages__description {
        font-size     : 14px;
        font-weight   : normal;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : 1.71;
        letter-spacing: normal;
        text-align    : center;
        margin-top    : 5px;
        padding-left  : 33px;
        padding-right : 33px;

    }

}

@media (min-width: @desktop-width) {

    .advantages__wrapperlist {
        padding-top: 0px;
    }

    .advantages {

        margin: 0 auto;

    }


    .advantages__bgrtext {
        background-color: @bg-white;
        width           : 960px;
        margin          : 0 auto;
        margin-bottom   : 80px;
    }

    .advantages__list::after {
        position           : absolute;
        content            : "";
        left               : 10px;
        top                : 0px;
        width              : 292px;
        height             : 302px;
        background-image   : url("../img/iphone-screen-1-desktop@1x.png");
        background-repeat  : no-repeat;
        background-position: 0 0;
    }

    .advantages__text {
        color         : @blue-dark;
        font-size     : 50px;
        font-weight   : 300;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : normal;
        letter-spacing: normal;
        text-align    : center;
        margin        : 0;
        padding-top   : 70px;
    }

    .advantages__subtext {
        color         : @blue-dark;
        font-size     : 50px;
        font-weight   : 300;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : normal;
        letter-spacing: normal;
        text-align    : center;
        margin        : 0;
        padding-top   : 0px;
        padding-left  : 150px;
        padding-right : 150px;
    }

    .advantages__list {
        width         : 960px;
        display       : flex;
        margin        : 0 auto;
        padding-bottom: 20px;
    }

    .advantages__item {
        margin-left : 40px;
        margin-right: 40px;
        margin-top  : 300px;
    }

    .advantages__title {
        font-size  : 34px;
        font-weight: bold;
        line-height: 0.7;
        margin-top : 60px;
    }

    .advantages__description {

        font-size     : 18px;
        font-weight   : normal;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : 1.67;
        letter-spacing: normal;
        text-align    : center;
        margin        : 0px;
        padding       : 0px;
        margin-top    : 30px;
    }

    .advantages__item--change {
        position: relative;
    }

    .advantages__item--change::before {
        position           : absolute;
        content            : "";
        left               : -20px;
        top                : -300px;
        width              : 292px;
        height             : 302px;
        background-image   : url("../img/iphone-screen-2-desktop@1x.png");
        background-repeat  : no-repeat;
        background-position: 0 0;
    }

    .advantages__item--friend {
        position: relative;
    }

    .advantages__item--friend::before {
        position           : absolute;
        content            : "";
        left               : -20px;
        top                : -300px;
        width              : 292px;
        height             : 302px;
        background-image   : url("../img/iphone-screen-3-desktop@1x.png");
        background-repeat  : no-repeat;
        background-position: 0 0;
    }
}

.advantages__research-link {
    text-decoration: none;
    color          : @pink;
}
