.download {
    width         : 320px;
    margin        : 0 auto;
    display       : flex;
    flex-direction: column;
    text-align: center;
    

    /* Временно для сетки */

}

.download__text {
    display      : flex;
    position     : relative;
    padding-top  : 28px;
    padding-left: 42px;
    padding-right: 49px;
    margin       : 0 auto;
    color        : #ffffff;

    font-size     : 24px;
    font-weight   : 300;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : normal;
    letter-spacing: normal;
    text-align    : center;

    /* Временно для сетки */
    min-height: 368px;

}

.download__text::after {
    content            : "";
    position           : absolute;
    left               : 0px;
    top                : 110px;
    width              : 258px;
    height             : 286px;
    background-image   : url("../img/iphone-hand-mobile@1x.png");
    background-repeat  : no-repeat;
    background-position: 0 0;
}

.download__text2 {
    color: #ffffff;
    font-size: 14px;
    padding-bottom: 20px;
  
}

.download__button {
    width         : 281px;
    padding-top   : 10px;
    padding-bottom: 10px;
    margin-top    : 50px;
    margin-left   : 18px;
    border        : 3px solid #ffffff;
    border-radius : 30px;
}

.download__list {
    margin     : 0 auto;
    display    : flex;
    margin-top : 40px;
    margin-left: 18px;

    list-style     : none;
    justify-content: space-between;
    align-items    : center;
    /* Временно для сетки */
    width     : 251px;
    min-height: 65px;

}

.download__text--bottom {
    padding-right : 46px;
    margin-left   : 18px;
    color         : #ffffff;
    font-size     : 14px;
    font-weight   : 300;
    font-stretch  : normal;
    font-style    : normal;
    line-height   : 1.71;
    letter-spacing: normal;
    text-align    : center;
    /* Временно для сетки */
    width  : 251px;

}

@media (min-width: @tablet-width) {
    .download {
        width : 660px;
        margin: 0 auto;
        /* Временно для сетки */
        min-height: 618px;
    }

    .download__text {
        padding-top  : 103px;
        padding-right: 396px;
        padding-left : 78px;
        margin       : 0 auto;
        font-size    : 40px;
        /* Временно для сетки */
        min-height: 164px;
    }

    .download__text::after {
        content            : "";
        position           : absolute;
        left               : -17px;
        top                : 70px;
        width              : 700px;
        height             : 545px;
        background-image   : url("../img/iphone-hand-tablet@1x.png");
        background-repeat  : no-repeat;
        background-position: 0 0;
    }

    .download__text2 {
        margin-top    : 30px;
        margin-left   : -300px;
        font-size     : 18px;
        font-weight   : 300;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : 1.33;
        letter-spacing: normal;
        color         : #ffffff;
    }

    .download__button {
        width         : 281px;
        padding-top   : 10px;
        padding-bottom: 10px;
        margin-top    : 24px;
        margin-left   : 18px;
    }

    .download__list {
        margin-left: 35px;
        margin-top : 50px;

    }

    .download__text--bottom {
        margin-top: 50px;
    }
}

@media (min-width: @desktop-width) {
    .download {
        width : 960px;
        margin: 0 auto;
        /* Временно для сетки */
        min-height: 742px;
    }

    .download__text {
        padding-top  : 100px;
        padding-left : 25px;
        padding-right: 690px;

        font-size: 50px;
        /* Временно для сетки */
        min-height: 219px;
    }

    .download__text::after {
        content            : "";
        position           : absolute;
        left               : 10px;
        top                : 95px;
        width              : 1050px;
        height             : 645px;
        background-image   : url("../img/iphone-hand-desktop@1x.png");
        background-repeat  : no-repeat;
        background-position: 0 0;

    }

    .download__button {
        width         : 281px;
        padding-top   : 10px;
        padding-bottom: 10px;
        margin-top    : 55px;
        margin-left   : 0px;
    }

    .download__list {
        margin-top : 75px;
        margin-left: 0px;
    }

    .download__text2 {
        margin-top : 42px;
        margin-left: -660px;
    }
}
