.main-nav {
  position: relative;

  width: 320px;
  min-height: 51px;
  margin: 0 auto;

  background-color: @bg-grey;

  
    /* Временно для сетки */
    outline   : 5px solid blue;
}


.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  display: block;
  width: 70px;
  height: 50px;

  background-color: #191d46;

  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: #1d1d1c;
  }
}


.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}


.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 24px;
    left: 18px;

    width: 36px;
    height: 2px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.main-nav__list {
  margin    : 0;
  padding   : 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 50px;
}

.site-list {
  /* Временно для сетки */
  min-height: 300px;
}

.main-nav__item a{
  font-family: OpenSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width : 660px;
    margin: 0 auto;
      /* Временно для сетки */
     
  }

  .main-nav__list {
    margin    : 0;
    padding   : 0;
    list-style: none;
    /* Временно для сетки */
    min-height: 366px;
  
  }

}


@media (min-width: @desktop-width) {
  .main-nav {
    width : 960px;
    margin: 0 auto;
  }

  .main-nav__wrapper {
    display        : flex;
    justify-content: space-between;
    width          : 960px;
    margin         : 0 auto;
  }

  .main-nav__list {
    margin    : 0;
    padding   : 0;
    list-style: none;
    /* Временно для сетки */
    min-height: 110px;
  
  }


}
