.main-nav {
  width : 320px;
  margin: 0 auto;
    /* Временно для сетки */
    outline   : 5px solid blue;
}

.main-nav__list {
  margin    : 0;
  padding   : 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 325px;
  
}


@media (min-width: @tablet-width) {
  .main-nav {
    width : 660px;
    margin: 0 auto;
      /* Временно для сетки */
     
  }

  .main-nav__list {
    margin    : 0;
    padding   : 0;
    list-style: none;
    /* Временно для сетки */
    min-height: 366px;
  
  }

}


@media (min-width: @desktop-width) {
  .main-nav {
    width : 1200px;
    margin: 0 auto;
  }

  .main-nav__wrapper {
    display        : flex;
    justify-content: space-between;
    width          : 1200px;
    margin         : 0 auto;
  }

  .main-nav__list {
    margin    : 0;
    padding   : 0;
    list-style: none;
    /* Временно для сетки */
    min-height: 110px;
  
  }


}
