.main-nav {
  width : 320px;
  margin: 0 auto;


  
    /* Временно для сетки */
    outline   : 5px solid blue;
}

.main-nav__list {
  margin    : 0;
  padding   : 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 325px;
  
}
.main-nav__item a{
  font-family: OpenSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width : 660px;
    margin: 0 auto;
      /* Временно для сетки */
     
  }

  .main-nav__list {
    margin    : 0;
    padding   : 0;
    list-style: none;
    /* Временно для сетки */
    min-height: 366px;
  
  }

}


@media (min-width: @desktop-width) {
  .main-nav {
    width : 960px;
    margin: 0 auto;
  }

  .main-nav__wrapper {
    display        : flex;
    justify-content: space-between;
    width          : 960px;
    margin         : 0 auto;
  }

  .main-nav__list {
    margin    : 0;
    padding   : 0;
    list-style: none;
    /* Временно для сетки */
    min-height: 110px;
  
  }


}
