.page-header {

  background-color: rgba(black, 0.3);
  color: white;
  width: 100%;
}




@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

  .main-nav__list {
    display: flex;
  }

}

