.page-header {
  display: flex;
  flex-direction: column;
  outline: 1px solid rgb(53, 175, 94);
}

.page-header__logo {
  height: 22px;
  outline: 2px solid rgb(165, 70, 184);
}


@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 40px;
  }
}


@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 40px;
  }
}

.page-header,
.page-header__logo {
  .no-outline();
}

.page-header__logo {
  background: rgba(255, 255, 255, 0.5);
}