.page-footer {
  background-color: @bg-white;
}

.page-footer__map-wrapper {
  text-align: center;
  height    : 200px;
  overflow  : hidden;

  @media (min-width: @tablet-width) {
    height: 372px;
  }

  @media (min-width: @desktop-width) {
    height: 502px;
  }
}

.page-footer__wrapper {
  width        : 320px;
  padding-left : 20px;
  padding-right: 20px;
  margin       : 0 auto;

  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width        : 960px;
    padding-right: 10px;
    padding-left : 10px;
  }

  padding-top   : 40px;
  padding-bottom: 40px;

  @media (max-width: @phones-max) {
    text-align: center;

    &--index {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    display        : flex;
    justify-content: space-between;
    padding-top    : 36px;
    padding-bottom : 34px;
  }

  @media (min-width: @desktop-width) {
    padding-top   : 70px;
    padding-bottom: 68px;
  }
}
