.post {
    width : 320px;
    margin: 0 auto;
    /* Временно для сетки */
    min-height: 757px;
    outline   : 2px solid blue;
}


@media (min-width: @tablet-width) {
    .post {
        width : 660px;
        margin: 0 auto;
        /* Временно для сетки */
        min-height: 511px;
    }


}

@media (min-width: @desktop-width) {
    .post {
        width : 940px;
        margin: 0 auto;
        /* Временно для сетки */
        min-height: 500px;
    }
}
