html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin         : 0;
  background-size: 320px auto;
  min-height     : 4300px;
}

@media (min-width: @tablet-width) {
  body {
    background-size: 660px auto;
  }
}

@media (min-width: @desktop-width) {
  body {
    background-size: 960px auto;
  }
}